.book .book-body,
.book .book-summary,
.book .book-summary .book-logo {
	background: #2a2e31;
	color: white;
}

.book .book-summary {
	border-right: 1px solid black;
}

.book-body section a,
.book-summary ul.summary li.active>a,
.book.color-theme-3 .book-body section a {
	color: #ffeb42;
}

.markdown-section,
.book-summary ul.summary li a, .book-summary ul.summary li span {
	color: white;
}

.markdown-section code,
.markdown-section pre {
	color: #2a2e31;
}

.book.color-theme-3 .book-header .btn.lang-switcher.active {
	background-color: #ffeb42;
}
.book.color-theme-3 .book-header .btn {
	color: #2a2e31;
}