.book .book-body,
.book .book-summary,
.book .book-summary .book-logo {
	background: #2a2e31;
	color: white;
}

.book .book-summary {
	border-right: 1px solid black;
}

.book-body section a,
.book-summary ul.summary li.active>a {
	color: #ffeb42;
}

.markdown-section,
.book-summary ul.summary li a, .book-summary ul.summary li span {
	color: white;
}

.markdown-section .code {
	color: #2a2e31;
}